[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "svaNUMT"]
	path = svaNUMT
	url = https://github.com/papenfusslab/svanumt
[submodule "svaRetro"]
	path = svaRetro
	url = https://github.com/papenfusslab/svaretro
